.splash{
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
}

.spinner{
    position: absolute;
    width: 10%;
    margin: auto;
    height: 10%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    svg{
        overflow: visible;
    }
}
.left-part{
    @include animation(spinner-heart-left 4s infinite);
 }
.middle-part{
    @include animation(spinner-heart-middle 4s infinite);
 }
.right-part{
    @include animation(spinner-heart-right 4s infinite);
 }

@include keyframes(spinner-heart-left){
    0%{
        fill: #26c8a8;
    }
    25%{
        fill: #d5ffc8;
    }
    50%{
        fill: #26c8a8;
    }
    75%{
        fill: #26c8a8;
    }
    100%{
    }
}

@include keyframes(spinner-heart-right){
    0%{
        fill: #83d650;
    }
    25%{
        fill: #83d650;
    }
    50%{
        fill: #d5ffc8;
    }
    75%{
        fill: #83d650;
    }
    100%{
    }
}

@include keyframes(spinner-heart-middle){
    0%{
        fill: #d5ffc8;
    }
    25%{
        fill: #83d650;
    }
    50%{
        fill: #26c8a8;
    }
    75%{
        fill: #d5ffc8;
    }
    100%{
    }
}
