$transition-duration: .3s;
$transition-duration-long: .6s;
$transition-stagger-steps: .05s;

article[data-transition-in-fwd]{
    [data-transition-in-fwd="fade"],[data-transition-in="fade"],[data-transition="fade"]{
        @include animation(fadeIn $transition-duration normal both ease);
    }

    [data-transition-in-fwd="slide-right"],[data-transition-in="slide-right"],[data-transition="slide-right"]{
        @include animation(slideInRight $transition-duration normal both ease-out);
    }
    [data-transition-in-fwd="slide-left"],[data-transition-in="slide-left"],[data-transition="slide-left"]{
        @include animation(slideInLeft $transition-duration normal both ease-out);
    }
    [data-transition-in-fwd="slide-down"],[data-transition-in="slide-down"],[data-transition="slide-up"]{
        @include animation(slideInDown $transition-duration normal backwards ease-out);
    }
    [data-transition-in-fwd="slide-up"],[data-transition-in="slide-up"],[data-transition="slide-down"]{
        @include animation(slideInUp $transition-duration normal backwards ease-out);
    }
}

article[data-transition-out-fwd]{
    [data-transition-out-fwd="fade"],[data-transition-out="fade"],[data-transition="fade"]{
        @include animation(fadeOut $transition-duration both ease);
    }

    [data-transition-out-fwd="slide-right"],[data-transition-out="slide-right"],[data-transition="slide-right"]{
        @include animation(slideOutRight $transition-duration both ease-in);

    }
    [data-transition-out-fwd="slide-left"],[data-transition-out="slide-left"],[data-transition="slide-left"]{
        @include animation(slideOutLeft $transition-duration both ease-in);
    }
}

article[data-transition-in-bwd]{
    [data-transition-in-bwd="fade"],[data-transition-in="fade"],[data-transition="fade"]{
        @include animation(fadeIn $transition-duration normal both ease);
    }

    [data-transition-in-bwd="slide-right"],[data-transition-in="slide-right"],[data-transition="slide-left"]{
        @include animation(slideInRight $transition-duration normal both ease-out);
    }
    [data-transition-in-bwd="slide-left"],[data-transition-in="slide-left"],[data-transition="slide-right"]{
        @include animation(slideInLeft $transition-duration normal both ease-out);
    }

    [data-transition-in-bwd="slide-down"],[data-transition-in="slide-up"],[data-transition="slide-up"]{
        @include animation(slideInDown $transition-duration normal backwards ease-out);
    }
    [data-transition-in-bwd="slide-up"],[data-transition-in="slide-down"],[data-transition="slide-down"]{
        @include animation(slideInUp $transition-duration normal backwards ease-out);
    }
}

article[data-transition-out-bwd]{
    [data-transition-out-bwd="fade"],[data-transition-out="fade"],[data-transition="fade"]{
        @include animation(fadeOut $transition-duration both ease);
    }

    [data-transition-out-bwd="slide-right"],[data-transition-out="slide-right"],[data-transition="slide-left"]{
        @include animation(slideOutRight $transition-duration both ease-in);
    }
    [data-transition-out-bwd="slide-left"],[data-transition-out="slide-left"],[data-transition="slide-right"]{
        @include animation(slideOutLeft $transition-duration both ease-in);
    }
}


article[data-transition-in-fwd],
article[data-transition-out-fwd],
article[data-transition-in-bwd],
article[data-transition-out-bwd]{
    @for $i from 1 through 5 {
        [data-transition-stagger="#{$i}"] {
            @include animation-delay($transition-stagger-steps * $i);
        }
    }

    [data-transition-duration="long"]{
        @include animation-duration($transition-duration-long);
    }

    a,span{
        &[data-transition],&[data-transition-in],&[data-transition-out],
        &[data-transition-in-fwd],&[data-transition-out-fwd],&[data-transition-in-bwd],&[data-transition-out-bwd]{
            display: inline-block;
        }
    }
}

article[data-transition-in-fwd],
article[data-transition-in-bwd]{
    //@include animation(blurIn .5s normal ease);
}

article[data-transition-out-bwd],
article[data-transition-out-fwd]{
    //@include animation(blurOut .5s normal ease);
}

@include keyframes(fadeIn){
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@include keyframes(fadeOut){
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* slide and fade from right to left*/
@include keyframes(slideInLeft){
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
@include keyframes(slideOutLeft){
    0% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

/* slide and fade from left to right*/
@include keyframes(slideInRight){
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
@include keyframes(slideOutRight){
    0% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

@include keyframes(blurOut){
    0%{
        filter: blur(0);
        //opacity: 1;
    }
    100%{
        filter: blur(2px);
        //opacity: 0;
    }
}
@include keyframes(blurIn){
    0%{
        filter: blur(2px);
        //opacity: 0;
    }
    100%{
        filter: blur(0);
        //opacity: 1;
    }
}

@include keyframes(slideInDown){
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@include keyframes(slideInUp){
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
